img {
  display: block;
  max-width: 100%;
  width: 700px;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hero {
  display: flex;
  background-color: #8cc3cb;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}
.left {
  flex: 1;
  border: 3px dotted purple;
}
.right {
  flex: 1;
  border: 3px dotted blue;
}

/* #jumbo-comp {
  margin-right: -12.5%;
  margin-left: -12.5%;
  background-color: #8cc3cb;
} */
@media screen and (max-width: 768px) {
  .hero {
    display: block;
  }
  img {
    width: 200px;
    height: auto;
  }
  button {
    display: none;
  }
}
