.music-container {
  /* display: flex;
  justify-content: center; */
  padding: 6%;
  /* padding-top: 5%; */
}
.music-search {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10%;
  background-image: linear-gradient(
    to right,
    rgba(140, 195, 203, 0.819),
    rgb(83, 53, 111, 0.819)
  );
}
.itunes-data {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}

.single-card {
  width: 175px;
  height: 325px;
}

.card-img {
  width: 175px;
  height: 125px;
}

.card-text {
  font-size: 12px;
  height: 44px;
}
.title-text {
  font-size: 14px;
  height: 40px;
}
.play-button {
  /* padding-top: 3%; */
  /* width: 50px; */
}
